*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
   
}
body{
     background-color: lightcyan;
     text-align: center;
}

.container{
    display:flex;
    height: 70vh;
    justify-content: center;
    margin-top: 50px;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:red;
    background-color: yellow;
}
#msg{
    font-size: 8min;
}
.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    width: 250px;
    padding: 15px;
    border-radius: 5vmin;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    
}
.hide{
    display: none;
}
#new-btn{
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10vmin;
    background-color: green;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-top: 20px;
}
#new-btn:hover{
    background-color: darkgreen;
    font-size: 30px;
    width: 200px;
}
#reset{
    background-color: black;
    color: white;
    width:250px;
    padding:10px 15px;
    border-radius: 10vmin;
    font-size: 24px;
    border: none;
}
#reset:hover{
    background-color: red;
    cursor:pointer;
    font-size: 35px;
    margin-bottom: 20px;
}


footer{
    background-color: lightblue;
    padding: 20px 0;
    align-items: center;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 20px 0 rgba(0, 0 , 0, 0.1);
    bottom: 0;
    position: fixed;
}
footer p{
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.a{
    color: #000;
}
.a:hover{
    font-size: 30px;
    color: white;
}
footer a{
    font-size: 30px;
}
#icons{
    
    justify-content: space-evenly;
    
}
#linkedin:hover{
    font-size: 45px;
    color:blue;
}
#gmail:hover{
    color:red;
    font-size: 45px;
}
#facebook:hover{
    font-size: 45px;
    color:blue;
}
#x:hover{
    font-size: 45px;
    color:black;
}